# START OF flamework-mapzen-sso stuff

# RewriteRule  ^signin/?$		/signin_mapzen_oauth.php	[L]
# RewriteRule  ^auth/?$			/auth_callback_mapzen_oauth.php?%{QUERY_STRING} [L]

# END OF flamework-mapzen-sso stuff
